<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earnvest || diverge into a better world</title>
  </head>
  <body>
    <h1>This is earnvest</h1>
    <button>Sign up bitch</button>
  </body>
</html>
